:root {
    --eerieBlack: #191919;
    --peralBrush: #e1cdb9;
    --backgroundSeashell: #F8F5F2;
    --burntOrange: #CB5302;
    --backgroundText: rgba(202, 82, 2, 0.05);
    --burntOrangeTransperant: #cb52027f;

}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

h5 {
    font-size: 1.125rem;
    font-weight: 600;
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 5rem;
    }

    h5 {
        font-size: 1.25rem;
    }


}


body {
    font-family: 'Karla', sans-serif;
    background: var(--backgroundSeashell);
    color: var(--eerieBlack);
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
    font-size: 16px;
    ;
}

.wrapper {
    padding: 0 10px;
}

.background-img {
    background-image: url(../assets/images/about-us\ -\ Copy-.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 50% 15%; */
    width: 100%;
    height: 650px;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo img {
    height: 75px;
}



#main {
    position: relative;
    list-style: none;
    background: transparent;
    font-weight: 400;
    font-size: 0;
    text-transform: uppercase;
    display: inline-block;
    padding: 0;
    margin: 0 auto;
}



#main li {
    font-size: 0.8rem;
    display: inline-block;
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
    z-index: 5;
    min-width: 100px;
}

li {
    margin: 0;
}

/**/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropdown-content {
    /* display: none; */
    position: absolute;
    /* min-width: 160px; */
    z-index: 1;
    top: -500px;
    left: -50px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}


.dropdown-content a {
    color: var(--backgroundSeashell);
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: var(--eerieBlack);
    background-color: var(--peralBrush);

}


.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    top: 0px;

}

div.img-submenu img {
    height: 100px;
    width: 100px;
    overflow: hidden;
}



.submenu-container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

.test {
    flex-grow: 1;
}

.break {
    flex-basis: 100%;
    height: 0;
}


.drop li {
    display: block;
    background: var(--burntOrange);
    position: absolute;
    padding: 0;
    width: 150px;
    left: -100px;
    top: 50px;
    text-align: center;
}



#marker {
    height: 6px;
    background: var(--burntOrange);
    position: absolute;
    bottom: 0;
    width: 100px;
    z-index: 2;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    transition: all 0.35s;
}

#main li:nth-child(1):hover ul div {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

#main li:nth-child(1):hover~#marker {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    transform: translate(0px, 0);
}

#main li:nth-child(2):hover ul div {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

#main li:nth-child(2):hover~#marker {
    -webkit-transform: translate(100px, 0);
    -moz-transform: translate(100px, 0);
    -ms-transform: translate(100px, 0);
    transform: translate(100px, 0);
}

#main li:nth-child(3):hover ul div {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

#main li:nth-child(3):hover~#marker {
    -webkit-transform: translate(200px, 0);
    -moz-transform: translate(200px, 0);
    -ms-transform: translate(200px, 0);
    transform: translate(200px, 0);
}

#main li:nth-child(4):hover ul div {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

#main li:nth-child(4):hover~#marker {
    -webkit-transform: translate(300px, 0);
    -moz-transform: translate(300px, 0);
    -ms-transform: translate(300px, 0);
    transform: translate(300px, 0);
}

#main li:nth-child(5):hover ul div {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

#main li:nth-child(5):hover~#marker {
    -webkit-transform: translate(400px, 0);
    -moz-transform: translate(400px, 0);
    -ms-transform: translate(400px, 0);
    transform: translate(400px, 0);
}

.humburger-menu {
    display: none;
    ;
}

.nav-phone {
    background: var(--burntOrange);
    height: 100px;
    padding: 30px 10px;
    font-size: 1.5rem;
    font-weight: 600;
}

.phone-icon {
    display: inline-block;
    width: 1.5rem;
    /* margin: 0 10px; */
}

.phone-num {
    text-decoration: none;
    color: var(--backgroundSeashell);
}

.opening-time {
    color: var(--backgroundSeashell);
    font-size: 1rem;
    text-align: right;
}

.top-section {
    height: 650px;
    /* background-color: #19191930; */
}

h1.tittle-name {
    margin: 0;
    padding: 100px 0 25px;
    text-align: left;
    color: var(--backgroundSeashell);
}

h5.tittle-content {
    margin: 0;
    text-align: left;
    padding: 25px 0;
    color: var(--backgroundSeashell);
    max-width: 550px;
}

.break-line {
    margin: 25px 0;
    height: 6px;
    background: var(--burntOrange);
    width: 150px;
    z-index: 2;
}